/* © CIRCULAR AGENCY */

/* MAKERS-GRID CSS */

.makers-grid {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.makers-grid .grid {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%!important;
}

.makers-grid.items-12 .grid .heroes {
  display: none !important;
}

.makers-grid.items-12 .grid .heroes:nth-child(-n+6) {
  display: block !important;
}

.makers-grid.items-8 .grid .heroes:nth-last-child(-n+2) {
  display: none !important;
}

@media only screen and (min-width:769px) and (max-width:1023px) {
  .makers-grid.items-12 .grid .heroes:nth-child(-n+8) {
    display: block !important;
  }
}

@media only screen and (min-width:1024px) {
  .makers-grid.items-12 .grid .heroes:nth-child(-n+12) {
    display: block !important;
  }
}

.makers-grid .grid .heroes h3 {
  color: white;
  font-style: normal;
  margin: 0 !important;
  bottom: 10px;
  left: 10px;
  position: absolute;
  font-weight: 500;
  text-decoration: none !important;
  font-size: 1.8rem !important;
  letter-spacing: -0.9px;
  text-align: left;
}

.makers-grid.items-12 .grid .heroes,
.makers-grid.items-8 .grid .heroes {
  cursor: pointer;
  position: relative;
  filter: grayscale(100%);
  line-height: 0 !important;
  flex: 1 0 50%;
}

.makers-grid .popup {
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80% !important;
  height: auto !important;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

@media (min-width:769px) {
  .makers-grid.items-12 .grid .heroes {
    max-width: unset !important;
    min-width: unset !important;
    flex: 1 0 25%;
    filter: grayscale(100%);
    position: relative;
  }

  .makers-grid.items-8 .grid .heroes {
    max-width: unset !important;
    min-width: unset !important;
    flex: 1 0 25%;
    filter: grayscale(100%);
    position: relative;
  }

  .makers-grid .grid .heroes img {
    width: 100% !important;
  }

  .makers-grid .popup {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto !important;
    height: 85% !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
  }

  .makers-grid .popup img {
    height: 100% !important;
  }
}

@media (min-width: 1024px) {
  .makers-grid.items-12 .grid .heroes {
    max-width: unset !important;
    min-width: unset !important;
    flex: 1 0 16.6667%;
    filter: grayscale(100%);
    position: relative;
  }
}

.makers-grid .grid .heroes:hover {
  filter: grayscale(0%);
}

.makers-grid .grid .heroes:hover img {
  -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08);
}

.makers-grid .grid .heroes img {
  -webkit-transition: transform 2.5s linear;
-ms-transition: transform 2.5s linear;
transition: transform 2.5s linear;
}

.makers-grid .grid-image:before {
  background: none;
}

.show {
  visibility: visible !important;
}

.hide {
  visibility: hidden;
}

.bright {
  filter: brightness(0.2);
  pointer-events: none !important;
}

.desktop {
  display: none !important;
}

.mobile {
  display: block !important;
}

.heroes.remove-btn {
  background-color: #000000 !important;
  width: 40px !important;
  height: 40px !important;
  position: absolute;
  right: 0;
  top: 0;
  border: none !important;
  padding: 0 !important;
}

.heroes.remove-btn::before {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px !important;
    color: #ffffff !important;
    line-height: 20px;
    color: #ffffff;
    content: '\e616';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
}

@media (min-width:769px) {
  .desktop {
    display: block !important;
  }

  .mobile {
    display: none !important;
  }
}
