/* © CIRCULAR AGENCY */
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.9px;
  margin-bottom: 0 !important;
}

.title__banner h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.9px;
  margin-bottom: 0 !important;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.9px;
  line-height: 1 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 4.5rem !important;
}

.page-title-wrapper {
  display: none !important;
}

.column__ontop {
  z-index: 5;
}

.home-instagram-image h3 {
  color: white;
  font-style: normal;
  bottom: 0;
  left: 10px;
  position: absolute;
  font-weight: 500;
  text-decoration: none !important;
  font-size: 2.5rem;
  letter-spacing: -0.9px;
  text-align: left;
}

.home-instagram-image {
  position: relative;
}

.home-instagram {
  position: relative;
}

.heroes__image {
  filter: grayscale(100%);
  display: inline-block !important;
}

.heroes__popup {
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.hp__column {
  max-width: 400px !important;
  margin-bottom: 0 !important;
}

.text__body {
  font-size: 22px;
  line-height: 24px;
}

.block.newsletter.banner__v4 .banner__v4--title, .block.newsletter.banner__v4 .content {
  width: 100% !important;
}

@media (min-width: 1024px), print {
h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  	font-weight: 400;
  	font-style: normal;
 	letter-spacing: -0.9px;
 	margin-bottom: 0 !important;
    font-size: 6rem;
    }
}

@media (min-width: 768px) {
  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.9px;
    line-height: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 5.5rem !important;
  }

  .text__body {
    font-size: 24px;
    line-height: 26px;
  }

  .hp__column {
    max-width: 400px !important;
  }

  .heroes__image {
    max-width: unset !important;
    min-width: unset !important;
    flex: 1 0 20%;
    filter: grayscale(100%);
  }

  .heroes__popup {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
  }
}

.heroes__image:hover {
  filter: grayscale(0%);
}

.home-instagram-image:before {
  background: none;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.bright {
  filter: brightness(0.2);
  pointer-events: none !important;
}

.column1-2__left {
  padding: 50px 25px !important;
  margin: -25px 0 0 !important;
  order: 2;
}

.column1-2__right {
  padding: 0 24px !important;
  margin: 0 !important;
  z-index: 5;
}

.column3-4_left--image {
  padding: 0 24px !important;
  margin: 0 !important;
  z-index: 5;
}

.column3-4_right--text {
  padding: 25px !important;
  margin: -25px 0 0 !important;
}

.column3-4_left--text {
  padding: 50px 50px 50px 50px !important;
  margin: -25px 0 0 !important;
  order: 2;
}

.column3-4_right--image {
  padding: 0 24px !important;
  margin: 0 !important;
  z-index: 5;
}

.column__right--text, .column__left--text {
  padding: 25px !important;
}

.desktop {
  display: none !important;
}

.mobile {
  display: block !important;
}

.heroes__remove {
  background: transparent !important;
  position: absolute;
  right: 5px;
  top: 5px;
  border: none !important;
  padding: 10px !important;
}

.heroes__remove::before {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
    line-height: 25px;
    color: #ffffff;
    content: '\e616';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.blog__link a {
  text-decoration: underline !important;
  color: #003865 !important;
}

.newsletter__title strong{
  font-size: 30px;
  letter-spacing: -1.78px;
  line-height: 35px;
  font-weight: 400 !important;
  font-style: normal !important;
}

.instagram__link a {
  text-decoration: none !important;
}

.block.newsletter.banner__v4 .form.subscribe {
  padding: 0 !important;
  float: left !important;
}

@media (min-width: 768px) {
.block.newsletter.banner__v4 .form.subscribe {
    float: left !important;
}
}

@media (max-width: 768px) {
.newsletter__container {
  padding: 25px !important;
  flex-basis: 100% !important;
}
}

@media (max-width: 1020px) {
  .newsletter__container {
  padding: 10px 40px !important;
  flex-basis: unset !important;
}
}

@media (min-width: 1020px) {
  .newsletter__container {
  padding: 10px 120px !important;
  flex-basis: unset !important;
}
}

@media (min-width: 768px) {
  .newsletter__title strong{
    font-size: 4.5rem !important;
    letter-spacing: -0.56px !important;
    line-height: 48px !important;
    font-weight: 400 !important;
    font-style: normal !important;
  }

  .heroes__remove {
    background: transparent !important;
    position: absolute;
    right: 5px;
    top: 5px;
    border: none !important;
    padding: 0 !important;
  }

  .heroes__remove::before {
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 14px;
      line-height: 14px;
      color: #ffffff;
      content: '\e616';
      font-family: 'luma-icons';
      vertical-align: middle;
      display: inline-block;
      font-weight: 400;
      overflow: hidden;
      speak: none;
      text-align: center;
  }

  .desktop {
    display: block !important;
  }

  .mobile {
    display: none !important;
  }

  .column1-2__left {
    margin: 0 -25px 0px 25px !important;
    padding: 60px 100px 60px 60px !important;
    order: 0;
  }

  .column1-2__right {
    padding: 0 !important;
    margin: -25px 25px 25px 0 !important;
  }

  .column3-4_left--image {
    padding: 0 !important;
    margin: 0 -25px 0 25px !important;
    z-index: 5;
  }

  .column3-4_right--text {
    padding: 60px 100px 60px 85px !important;
    margin: -25px 0 0 !important;
  }

  .column3-4_left--text {
    padding: 50px 50px 50px 50px !important;
    margin: 0 !important;
    order: 0;
  }

  .column3-4_right--image {
    padding: 0 !important;
    margin: 0 25px 0 -25px !important;
    z-index: 5;
  }

  .column__right--text, .column__left--text {
    padding: 60px 100px 60px 60px !important;
  }

  .heroes__container {
    display: flex;
    flex-wrap: wrap;
    min-width: 100% !important;
  }
}
