/* © CIRCULAR AGENCY */

/* General */

.page-title-wrapper {
  display: none !important
}

.breadcrumbs {
  display: none !important;
}

/* top-banner */

#maincontent .top-banner {
  width: 100vw;
  height: 125vw;
  background-size: 100vw !important;
}

@media only screen and (min-width:414px) {
  #maincontent .top-banner {
    width: 100vw;
    height: 50vw;
  }
}

/* inner-banner */

#maincontent .inner-banner {
  width: 100vw;
  height: 125vw;
}

@media only screen and (min-width:414px) {
  #maincontent .inner-banner {
    width: 100vw;
    height: 50vw;
  }
}

/* text-container */

#maincontent .text-container {
  position: relative;
  text-align: center;
  padding: 20vw 10vw !important;
}

@media only screen and (min-width:414px) {
  #maincontent .text-container {
    padding: 5vw 5vw !important;
    width: 50% !important;
    margin: 0 auto !important;
  }
}

/* slider-container text */

#maincontent .slider-container.text h4  {
  font-family: var(--ff-medium);
  font-size: var(--fs-heading-long-04);
  line-height: var(--lh-uppercase);
  letter-spacing: var(--ls);
  text-transform: var(--upper);
  text-align: center !important;
}

#maincontent .slider-container.text p {
  font-family: var(--ff-regular);
  font-size: var(--fs-body-long-01);
  line-height: var(--lh-lowercase);
  letter-spacing: var(--ls);
  text-align: center !important;
}

#maincontent .slider-container.text {
  padding: 20vw 0 0 !important;
}

#maincontent .slider-container.text .pagebuilder-slide-wrapper {
  height: 200vw !important;
  min-height: unset !important;
  display: flex !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
}

#maincontent .slider-container.text .pagebuilder-overlay {
  padding: 0 !important;
}

#maincontent .slider-container.text .pagebuilder-poster-content {
  height: 80vw !important;
  min-height: unset !important;
  padding: 10vw !important;
  display: flex;
  flex-direction: column !important;
  align-items: flex-start !important;
}

#maincontent .slider-container.text .pagebuilder-slide-button {
  margin: 10px 0 0 !important;
  text-align: center !important;
  width: 100% !important;
  padding: 14px 0 !important;
}

@media only screen and (min-width:414px) {
  #maincontent .slider-container.text {
    padding: 5vw 0 0 !important;
  }

  #maincontent .slider-container.text .pagebuilder-slide-wrapper {
    height: 50vw !important;
    min-height: unset !important;
    display: flex !important;
    align-items: flex-start !important;
  }

  #maincontent .slider-container.text .pagebuilder-overlay {
    padding: 0 !important;
    width: 50vw !important;
  }

  #maincontent .slider-container.text .pagebuilder-poster-content {
    width: calc(50vw - 10vw) !important;
    height: calc(50vw - 10vw) !important;
    min-height: unset !important;
    padding: 5vw 10vw 5vw 5vw !important;
    align-items: center !important;
  }

  #maincontent .slider-container.text .pagebuilder-slide-button {
    text-align: left !important;
  }

  #maincontent .slider-container.text h4  {
    text-align: left !important;
  }

  #maincontent .slider-container.text p {
    text-align: left !important;
  }
}

/* slider-container images */

/* slider arrows */

#maincontent .slider-container .slick-arrow {
  background-color: #000000 !important;
  width: 40px !important;
  height: 40px !important;
}

#maincontent .slider-container .slick-arrow:before {
  font-size: 24px !important;
  color: #ffffff !important;
}

#maincontent .slider-container .slick-next {
  right: 0 !important;
  top: calc(50% + 20px) !important;
  display: block !important;
}

#maincontent .slider-container .slick-prev {
  left: 0 !important;
  top: calc(50% + 20px) !important;
  display: block !important;
}

@media only screen and (hover: hover) and (min-width:414px) {
  #maincontent .slider-container .slick-arrow {
    background-color: #000000 !important;
    width: 40px !important;
    height: 40px !important;
  }

  #maincontent .slider-container .slick-arrow:before {
    font-size: 24px !important;
    color: #ffffff !important;
  }

  #maincontent .slider-container .slick-next {
    right: 0 !important;
    top: 50% !important;
    display: none !important;
  }

  #maincontent .slider-container .slick-prev {
    left: 0 !important;
    top: 50% !important;
    display: none !important;
  }

  #maincontent .slider-container:hover .slick-next,
  #maincontent .slider-container:hover .slick-prev {
    display: block !important;
  }
}

/* journal */

#maincontent .journal .pagebuilder-column-group {
  display: grid !important;
      grid-template-columns: 100%;
      grid-gap: 10vw;
      padding: 0 !important;
    width: 80vw !important;
    margin: 0 auto !important;
    display: flex;
}

#maincontent .journal .pagebuilder-column {
  width: 100% !important;
}

#maincontent .thumbs {
  background-position: top center !important;
position: unset;
width: 100%;
min-height: unset !important;
}

#maincontent .thumbs::before {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    backdrop-filter: none;
    pointer-events: none !important;
}

#maincontent .thumbs::after {
  content: "";
    display: block;
    padding-bottom: 80%;
}

#maincontent .thumbs:hover::after {
  backdrop-filter: brightness(0.7);
}

#maincontent .thumbs-link {
  width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    z-index: 100 !important;
    opacity: 0 !important;
}

#maincontent .thumbs-link a {
  width: 100% !important;
    height: 100% !important;
    font-weight: 400 !important;
    line-height: 1.8461 !important;
    font-size: 1.5rem !important;
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
    text-transform: uppercase;
    color: #fff !important;
}

#maincontent .journal .thumbs-description {
  padding: 0 !important;
  display: block !important;
}

#maincontent .journal .thumbs-description .category {
  display: none !important;
}

#maincontent .journal .thumbs-description .caption {
  display: block !important;
width: 75% !important;
}

#maincontent .journal .thumbs-description .caption p {
  font-family: var(--ff-regular);
  font-size: var(--fs-body-long-02);
  line-height: var(--lh-lowercase);
  letter-spacing: var(--ls);
}

#maincontent .journal.heading-link {
  width: 80vw !important;
  margin: 0 auto !important;
  max-width: 1440px !important;
  padding: 20vw 0 10vw !important;
}

@media only screen and (hover: hover) and (min-width:414px) {
  #maincontent .journal .pagebuilder-column-group {
    display: grid !important;
      grid-template-columns: calc(33.3333% - 1.3333vw) calc(33.3333% - 1.3333vw) calc(33.3333% - 1.3333vw);
      grid-gap: 2vw;
      row-gap: 4vw;
      padding: 0 2vw !important;
      width: 90vw !important;
      max-width: 1440px !important;
      margin: 0 auto !important;
      display: flex;
  }

  #maincontent .journal .pagebuilder-column {
    width: 100% !important;
  }

  #maincontent .thumbs {
    background-position: top center !important;
  position: unset;
  width: 100%;
  min-height: unset !important;
  }

  #maincontent .thumbs::before {
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      backdrop-filter: none;
      pointer-events: none !important;
  }

  #maincontent .thumbs::after {
    content: "";
      display: block;
      padding-bottom: 80%;
  }

  #maincontent .thumbs:hover::after {
    backdrop-filter: brightness(0.7);
  }

  #maincontent .thumbs-link {
    width: 100% !important;
      height: 100% !important;
      position: absolute !important;
      z-index: 100 !important;
      opacity: 0 !important;
  }

  #maincontent .thumbs-link a {
    width: 100% !important;
      height: 100% !important;
      font-weight: 400 !important;
      line-height: 1.8461 !important;
      font-size: 1.5rem !important;
      margin: 0 !important;
      padding: 0 !important;
      text-decoration: none !important;
      text-transform: uppercase;
      color: #fff !important;
  }

  #maincontent .journal .thumbs-description {
    padding: 0 !important;
    display: block !important;
  }

  #maincontent .journal .thumbs-description .category {
    display: none !important;
  }

  #maincontent .journal .thumbs-description .caption {
    display: block !important;
  width: 75% !important;
  }

  #maincontent .journal.heading-link {
    width: 90vw !important;
    margin: 0 auto !important;
    max-width: 1440px !important;
    padding: 5vw 2vw 2.5vw !important;
  }
}

/* heading + link */

#maincontent .heading-link {
  flex-direction: column !important;
}

#maincontent .heading-link .pagebuilder-button-link {
  padding: 0 !important
}

#maincontent .heading-link [data-content-type="buttons"] {
  padding: 0 !important;
  margin: 0 !important;
}

@media only screen and (hover: hover) and (min-width:414px) {
  #maincontent .heading-link {
    flex-direction: row !important;
  }

  #maincontent .heading-link .pagebuilder-button-link {
    padding: 0 0 0 20px !important
  }

  #maincontent .heading-link [data-content-type="buttons"] {
    padding: 0 !important;
    margin: 0 !important;
  }
}
