<link rel="stylesheet" href="https://rawcdn.githack.com/c1rcul4r/Dickies/e35b96b1b227342fedabcfb76cdcf5cb37814be8/UBD/mtm-grid.css">
<script src="https://rawcdn.githack.com/c1rcul4r/Dickies/e35b96b1b227342fedabcfb76cdcf5cb37814be8/UBD/app.js"></script>
<style>
/* © CIRCULAR AGENCY */
/* General */

.top-fullwidth-container .block-static-block.widget:last-child {
  display: none !important;
}

[data-element="main"] .product-items {
  border: 0 none !important;
}

[data-element="main"] .slick-slide {
  border: 0 none !important;
}

.slick-prev,
.slick-next {
  display: none !important;
}

@media only screen and (min-width:768px) {
  .slick-prev,
  .slick-next {
    display: block !important;
  }

.home .pagebuilder-column {
  flex-basis: unset !important;
}
}

/* [data-element="main"] {
  max-width: none !important;
  padding: 0 !important;
} */

[data-element="main"] .mobile {
  display: block !important;
}

.home.heading {
  padding: 10vw 10vw 5vw !important;
}

.home.heading.journal-heading {
  padding: 20vw 10vw 5vw !important;
}

.home.heading span{
  /* font-size: 1.7rem !important; */
  font-size: calc(17px + (20 - 17) * ((100vw - 360px) / (1440 - 360))) !important;
  line-height: 1.4 !important;
}

/* Product Slider */

[data-element="main"] .block.widget .product-items .product-item {
  border-color: transparent !important;
  border-style: solid !important;
  border-width: 0 0 0 0 !important;
}

[data-element="main"] .block.widget .product-items .product-item:before {
  background: none !important;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 100%
}

[data-element="main"] .block.widget .product-items .product-item:after {
  background: none !important;
  content: '';
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
  width: 1px
}

[data-element="main"] .block.widget .product-items .slick-track .slick-slide {
  border-left: 0 solid transparent;
}

.slick-prev:before, .slick-next:before, .slick-prev:after, .slick-next:after {
  font-size: 20px !important;
  -webkit-text-stroke: 2px !important;
}
/* */

@media only screen and (min-width:768px) {
  [data-element="main"] .mobile {
    display: none !important;
  }

  .home.heading {
    padding: 2vw !important;
  }

  .home.heading.journal-heading {
    padding: 8vw 2vw 2vw !important;
  }

  .home.heading [data-content-type="text"] p{
    width: 50% !important;
    margin: 0 auto !important;
  }

  .home.heading span{
    /* font-size: 2rem !important; */
    line-height: 1.4 !important;
  }
}

@media only screen and (min-width:1024px) {
  .home.heading.journal-heading {
    padding: 4vw 2vw 2vw !important;
  }

  .home.heading [data-content-type="text"] p{
    width: 40% !important;
    margin: 0 auto !important;
  }
}

/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.cms-index-index [data-element="main"] h1 {}

[data-element="main"] h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 700 !important;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 1 !important;
  margin-top: 0 !important;
  margin-bottom: calc(15px + (20 - 15) * ((100vw - 360px) / (1440 - 360))) !important;
  /* font-size: 3rem !important; */
  font-size: calc(30px + (45 - 30) * ((100vw - 360px) / (1440 - 360))) !important;
}

[data-element="main"] h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 700 !important;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 1 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  text-align: center !important;
  font-size: calc(25px + (35 - 25) * ((100vw - 360px) / (1440 - 360))) !important;
}

.home.top-banner h3 {
  color: #FFFFFF !important;
}

.home.our-story .pagebuilder-column h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 700 !important;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 1 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  text-align: left !important;
  color: #FFFFFF !important;
  /* font-size: 2.5rem !important; */
  font-size: calc(25px + (35 - 25) * ((100vw - 360px) / (1440 - 360))) !important;
}

[data-element="main"] h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 700 !important;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 1 !important;
  margin-top: 0 !important;
  margin-bottom: 2.5vw !important;
  text-align: center !important;
  font-size: 2.5rem !important;
}

.cms-index-index [data-element="main"] h3 {}

.cms-index-index [data-element="main"] p, .cms-index-index [data-element="main"] span {}

@media only screen and (min-width:768px) {
  [data-element="main"] h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 700 !important;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1 !important;
    margin-top: 0 !important;
    /* margin-bottom: 0 !important; */
    /* font-size: 4.5rem !important; */
  }

  [data-element="main"] h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 700 !important;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-align: center !important;
    /* font-size: 3.5rem !important; */
  }

  .home.our-story .pagebuilder-column h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 700 !important;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-align: left !important;
    color: #FFFFFF !important;
    /* font-size: 3.5rem !important; */
  }

  [data-element="main"] h5 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 700 !important;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 1vw !important;
    text-align: center !important;
    font-size: 2.5rem !important;
  }
}

@media only screen and (hover: hover) and (min-width:768px) {
  .home.special-collections.grid .pagebuilder-column [data-content-type="text"] span {
    font-size: 2.5rem !important;
    line-height: 1.4 !important;
  }
}

@media only screen and (hover: none) and (min-width:768px) {
  .home.special-collections.grid .pagebuilder-column [data-content-type="text"] span {
    font-size: 1.75rem !important;
    line-height: 1.4 !important;
  }
}

/* Utilities */

@media only screen and (min-width:768px) {

}

/* Top Banner */

.home.top-banner {
  height: 125vw !important;
  min-height: unset !important;
  margin: 0 0 5vh !important;
  padding: 0 0 10vw !important;
  position: relative;
  justify-content: flex-end !important;
}

.home.top-banner::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  backdrop-filter: brightness(0.7);
}

.home.top-banner>* {
  z-index: 10;
}

.home.top-banner .pagebuilder-column-group:last-child{
  width: 100%;
}

.home.top-banner .pagebuilder-column-group:last-child [data-content-type="buttons"] {
  padding: 0.5vw !important;
}

.home.top-banner h5{
  width: 90% !important;
  margin: 0 auto !important;
}

@media only screen and (min-width:768px) {
  .home.top-banner {
    height: 50vw !important;
    margin: 0 0 5vh !important;
    padding: 0 0 5vw !important;
    position: relative;
    justify-content: flex-end !important;
  }

  .home.top-banner .pagebuilder-column-group:last-child{
    width: 100%;
  }

  .home.top-banner .pagebuilder-column-group:last-child .pagebuilder-column {
    flex-direction: row !important;
  }

  .home.top-banner .pagebuilder-column-group:last-child [data-content-type="buttons"] {
    padding: 0.5vw !important;
  }
}

/* Top Banner VIMEO */

.home.vimeo-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 56.25vw;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  max-height: 810px;
  /* max-width: 1440px; */
  /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  pointer-events: all;
  cursor: pointer;
  overflow: hidden;
}

.home.vimeo-wrapper [data-content-type=buttons] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 10000 !important;
}

.home.vimeo-wrapper [data-content-type=button-item],
.home.vimeo-wrapper [data-content-type=button-item] a {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.home.vimeo-wrapper [data-content-type="html"] {
  width: 100%;
  height: 100%;
}

.home.vimeo-wrapper iframe.desktop {
  display: block;
  width: 100%;
  height: 56.25vw;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  /* max-height: 810px;
  max-width: 1440px; */
  /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: all !important;
  cursor: pointer !important;
}

.home.vimeo-wrapper iframe.mobile {
  display: none;
  width: 100vw;
  height: 125vw;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  max-height: 517.5px;
  max-width: 414px;
  /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: all !important;
  cursor: pointer !important;
}

@media only screen and (max-width:414px) {

  .home.vimeo-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 125vw;
    /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    max-height: 517.5px;
    max-width: 414px;
    /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    pointer-events: all !important;
    cursor: pointer !important;
    overflow: hidden;
  }

.home.vimeo-wrapper iframe.desktop {
  display: none;
}

.home.vimeo-wrapper iframe.mobile {
  display: block;
}
}

/* Discover Our Icons Section */

.home.discover-icons {
  padding: 10vw 0 15vw !important;
}

.home.discover-icons .pagebuilder-column {
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

.home.discover-icons h5 {
  margin-bottom: 1vh !important;
}

.home.discover-icons .pagebuilder-button-primary span {
  font-size: 1.4rem;
  font-weight: 400 !important;
}

@media only screen and (min-width:768px) {
  .home.discover-icons {
    padding: 2.5vw 0 2.5vw !important;
  }

  .home.discover-icons .pagebuilder-column {
    flex-direction: row !important;
    justify-content: center !important;
  }

  .home.discover-icons h5 {
    margin-bottom: 1vh !important;
  }
}

/* Special Collections Section */

.home.special-collections.slider {
  display: flex !important;
  padding: 5vw !important;
}

.home.special-collections.slider .pagebuilder-slider {
  min-height: unset !important;
}

.home.special-collections.slider .pagebuilder-slider [data-content-type=slide] {
  position: relative !important;
  padding-bottom: 10vw !important;
}

.home.special-collections.slider .pagebuilder-slider .pagebuilder-slide-wrapper {
  min-height: unset !important;
  height: 0 !important;
  padding-top: 100% !important;
}

.home.special-collections.slider .pagebuilder-slider .pagebuilder-slide-wrapper .pagebuilder-poster-overlay {
  position: absolute !important;
  min-height: unset !important;
  bottom: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.home.special-collections.slider .pagebuilder-slider .pagebuilder-slide-wrapper .pagebuilder-poster-overlay [data-element=content] {
  min-height: unset !important;
}

.home.special-collections.grid {
  padding: 7.5vw 2.5vw 10vw !important;
  /* display: none !important; */
}

.home.special-collections.grid .hidden{
  padding: 0 !important;
  margin: 0 !important;
  display: none !important;
}

.home.special-collections.grid .pagebuilder-column-group {
  display: flex !important;
  padding: 0 !important;
}

.home.special-collections.grid .pagebuilder-column {
  position: relative;
  padding: 0.5vw !important;
  width: 100% !important;
  flex-direction: column !important;
}

.home.grid-row-2.one-col .pagebuilder-column {
  position: relative;
  padding: 0.5vw !important;
  width: 50% !important;
}

.home.special-collections.grid .pagebuilder-column:hover [data-content-type="text"] {
  opacity: 1;
}

.home.special-collections.grid .pagebuilder-column figure {
  position: relative;
  height: 0;
  display: block;
  padding-bottom: 56.25% !important;
}

.home.special-collections.grid .pagebuilder-column [data-content-type="text"] {
  position: relative;
  width: calc(100% - 4vw) !important;
  height: auto;
  padding: 2vw !important;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  text-align: center !important;
  opacity: 1;
  pointer-events: none;
}

@media only screen and (min-width:768px) {
  .home.special-collections.slider {
    display: none !important;
  }

  .home.special-collections.grid {
    padding: 1.5vw 0 3.5vw !important;
    display: flex !important;
  }

  .home.special-collections.grid .pagebuilder-column-group {
    display: flex !important;
    justify-content: center !important;
    flex-wrap: nowrap !important;
    padding: 0 !important;
  }

  .home.special-collections.grid .pagebuilder-column {
    position: relative;
    padding: 0.5vw !important;
    width: 33vw !important;
  }

  .home.special-collections.grid .pagebuilder-column {
    position: relative;
    padding: 0.5vw !important;
    width: 33vw !important;
  }

  .home.special-collections.grid .pagebuilder-column:hover [data-content-type="text"] {
    opacity: 1;
  }

  .home.special-collections.grid .pagebuilder-column figure {
    position: relative;
    height: 0;
    display: block;
    padding-bottom: 100% !important;
  }

  .home.special-collections.grid .pagebuilder-column [data-content-type="text"] {
    position: absolute;
    width: calc(100% - 4vw) !important;
    height: calc(100% - 4vw) !important;
    padding: 2vw !important;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    text-align: center !important;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
  }
}

@media only screen and (hover: none) and (min-width:728px) {

  .home.special-collections.grid .pagebuilder-column [data-content-type="text"] {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    padding: .75vw 0 0 !important;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    text-align: center !important;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
  }
}

/* Proudcts Section */

.home.section-banner {
  height: 56.25vw !important;
  min-height: unset !important;
  padding: 0 !important;
  margin: 0 !important;
  justify-content: center !important;
  display: flex !important;
}

.home.section-banner.buttons.mobile {
  height: auto !important;
  padding: 5vw 0 !important;
  margin: 0 !important;
  display: flex !important;
}

@media only screen and (min-width:768px) {
  .home.section-banner {
    height: 40vw !important;
    min-height: unset !important;
    padding: 0 !important;
    margin: 0 0 2.5vw !important;
    justify-content: center !important;
    display: flex !important;
  }

  .home.section-banner.buttons.mobile {
    display: none !important;
  }
}

/* MTM Section */

.home.mtm h3 {
  color: white;
  font-style: normal;
  bottom: 0;
  left: 10px;
  position: absolute;
  font-weight: 500 !important;
  text-decoration: none !important;
  font-size: calc(20px + (25 - 20) * ((100vw - 360px) / (1440 - 360))) !important;
  letter-spacing: -0.9px;
  text-align: left !important;
  line-height: 1.125 !important;
  margin-top: 1.725rem !important;
  margin-bottom: 1.15rem !important;
}

.home.mtm [data-element=inner] {
  margin: 0 auto !important;
  padding: 0 !important;
}

.home.mtm .heroes__popup {
  width: 80% !important;
}

.home.mtm .heroes__image {
  filter: grayscale(0%) !important;
}

@media only screen and (min-width:768px) {
  .home.mtm h3 {
    color: white;
    font-style: normal;
    bottom: 0;
    left: 10px;
    position: absolute;
    font-weight: 500 !important;
    text-decoration: none !important;
    font-size: 2.5rem !important;
    letter-spacing: -0.9px;
    text-align: left !important;
    line-height: 1.125 !important;
    margin-top: 1.725rem !important;
    margin-bottom: 1.15rem !important;
  }

  .home.mtm {
    margin: 0 !important;
  }

  .home.mtm .heroes__popup {
    width: 60% !important;
  }

  .home.mtm .heroes__image {
    filter: grayscale(100%) !important;
  }
}

/* Journal Section */

.home.journal {
  padding: 0 12.5vw 12.5vw !important;
  margin: 0 !important;
  flex-direction: column !important;
}

.home.journal hr{
  margin-top: 0 !important;
  margin-bottom: 20px !important;
}

.home.journal .pagebuilder-column-group{
  width: 100% !important;
  flex-direction: column !important;
  padding: 2.5vw 0 !important;
}

.home.journal .pagebuilder-column {
  width: 100% !important;
}

.home.journal.image {
  width: 100%;
  min-height: unset !important;
  position: relative;
}

.home.journal.image::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.home.journal h3 {
  margin-bottom: 2vw !important;
}

.home.journal p {
  font-size: 1.3rem !important;
  line-height: 1.4 !important;
  margin-bottom: 1vw !important;
}

.home.journal .caption {
  display: none !important;
}

@media only screen and (min-width:768px) {
  .home.journal {
    justify-content: center !important;
    padding: 0 5vw 5vw !important;
    margin: 0 !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }

  .home.journal .pagebuilder-column-group{
    width: calc(50% - 5vw) !important;
    flex-direction: column !important;
    padding: 0 2.5vw !important;
    flex-wrap: nowrap !important;
  }

  .home.journal .pagebuilder-column {
    width: 100% !important;
  }

  .home.journal.image {
    width: 100%;
    min-height: unset !important;
    position: relative;
    margin-bottom: 1.5vw !important;
  }

  .home.journal.image::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .home.journal h3 {
    width: 100% !important;
    margin: 0 auto !important;
    margin-bottom: 1vw !important;
    margin-top: 0.25vw !important;
  }

  .home.journal p {
    font-size: 1.6rem !important;
    width: 100% !important;
    margin: 0 auto !important;
    line-height: 1.4 !important;
  }

  .home.journal .caption {
    display: flex !important;
  }
}

@media only screen and (min-width:1024px) {
  .home.journal p {
    font-size: 1.6rem !important;
    width: 50% !important;
    margin: 0 auto !important;
    line-height: 1.4 !important;
  }
}

/* Our Story Section */

.home.our-story .pagebuilder-column-group {
  height: auto !important;
}

.home.our-story.image {
  display: none !important;
}

.home.our-story .pagebuilder-column {
  padding: 10vw !important;
  justify-content: center !important;
  width: 50% !important;
}

.home.our-story .pagebuilder-column p {
  font-size: 1.3rem !important;
  line-height: 1.4 !important;
}

.home.our-story .pagebuilder-column h3 {
  margin-bottom: 2vh !important;
}

@media only screen and (min-width:768px) {
  .home.our-story .pagebuilder-column-group {
    height: auto !important;
  }

  .home.our-story .pagebuilder-column h3 {
    margin-bottom: 2vh !important;
  }

  .home.our-story .pagebuilder-column p {
    font-size: 1.6rem !important;
    line-height: 1.4 !important;
  }
}


@media only screen and (hover: none) and (min-width:768px) {
  .home.our-story .pagebuilder-column {
    padding: 5vw !important;
    justify-content: center !important;
    width: 50% !important;
  }

  .home.our-story.image {
    display: block !important;
  }
}

@media only screen and (hover: hover) and (min-width:1024px) {
  .home.our-story .pagebuilder-column {
    padding: 4% 15% 4% 4% !important;
    justify-content: center !important;
    width: 50% !important;
  }

  .home.our-story.image {
    display: block !important;
  }
}

.home-instagram-image:nth-last-child(-n+6) {
  display: none !important;
}

@media only screen and (min-width:768px) {
  .home-instagram-image:nth-last-child(-n+6) {
    display: block !important;
  }
}
</style>
