<style>
/* © CIRCULAR AGENCY */
/* General */

.cms-index-index .page-main

@media only screen and (min-width:768px) {

}

/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.cms-index-index .page-main h1 {}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 700 !important;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 1 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 3.5rem !important;
}

.cms-index-index .page-main h3 {}

.cms-index-index .page-main p, .cms-index-index .page-main span {}

@media only screen and (min-width:768px) {
  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 700 !important;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 4.5rem !important;
  }

  h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 700 !important;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-align: center !important;
    font-size: 3.5rem !important;
  }

  .home.our-story .pagebuilder-column h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 700 !important;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-align: left !important;
    color: #FFFFFF !important;
    font-size: 3.5rem !important;
  }

  h5 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 700 !important;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-align: center !important;
    color: #FFFFFF !important;
    font-size: 2.5rem !important;
  }
}

/* Utilities */

@media only screen and (min-width:768px) {

}

/* Top Banner */

@media only screen and (min-width:768px) {
  .home.top-banner {
    height: 50vh !important;
    margin: 0 0 5vh !important;
    padding: 0 !important;
    position: relative;
    justify-content: center !important;
  }

  .home.top-banner .pagebuilder-column-group:last-child{
    width: 100%;
    position: absolute;
    bottom: 2vh;
  }
}

/* Discover Our Icons Section */

@media only screen and (min-width:768px) {
  .home.discover-icons {

  }

  .home.discover-icons .pagebuilder-column {
    flex-direction: row !important;
    justify-content: center !important;
  }

  .home.discover-icons h3 {
    margin-bottom: 1vh !important;
  }
}

/* Special Collections Section */

@media only screen and (min-width:768px) {
  .home.grid-row.two-col {
    padding: 0 0 10vh !important;
  }

  .home.grid-row.two-col .pagebuilder-column-group {
    display: grid !important;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
    padding: 2.5vw 5vw !important;
  }

  .home.grid-row.two-col .pagebuilder-column {
    width: 100% !important;
  }
}

/* Proudcts Section */

@media only screen and (min-width:768px) {
  .home.section-banner {
    height: 50vh !important;
    padding: 0 0 10vh !important;
    margin: 0 !important
  }
}

/* MTM Section */

@media only screen and (min-width:768px) {
  .home.mtm h3 {
    color: white;
    font-style: normal;
    bottom: 0;
    left: 10px;
    position: absolute;
    font-weight: 500 !important;
    text-decoration: none !important;
    font-size: 2.5rem !important;
    letter-spacing: -0.9px;
    text-align: left !important;
    line-height: 1.125 !important;
    margin-top: 1.725rem !important;
    margin-bottom: 1.15rem !important;
  }
}

/* Journal Section */

@media only screen and (min-width:768px) {
  .home.journal {
    padding: 5vw !important;
    margin: 0 !important;
    flex-direction: row !important;
  }

  .home.journal .pagebuilder-column-group{
    width: 50% !important;
    flex-direction: column !important;
    padding: 2.5vw !important;
  }

  .home.journal .pagebuilder-column {
    width: 100% !important;
  }

  .home.journal.image {
    width: 100%;
    min-height: unset !important;
    position: relative;
  }

  .home.journal.image::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

/* Our Story Section */

@media only screen and (min-width:768px) {
  .home.our-story .pagebuilder-column-group {
    height: 50vh !important;
  }

  .home.our-story .pagebuilder-column {
    padding: 4% 15% 4% 4% !important;
    justify-content: center !important;
  }

  .home.our-story .pagebuilder-column h3 {
    margin-bottom: 2vh !important;
  }

}

</style>
