/* © CIRCULAR AGENCY */

.category-circular-journal #maincontent h1 {
  font-family: 'Helvetica Bold','Arial Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 6rem;
  letter-spacing: 0;
}

.category-circular-journal #maincontent h5 {
  font-family: 'Helvetica Bold','Arial Bold','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 3.5rem;
  letter-spacing: 0;
}

.journal__topstories .journal__categorypage--description {
  position: absolute;
  top: 0;
}

.journal__topstories .journal__categorypage--description {
  display: flex !important;
  justify-content: center !important;
  height: 100%;
  width: 100%;
}

.journal__topstories .journal__categorypage--description h6 {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 0;
  text-align: center;
    margin: 0 !important;
}

.journal__topstories .journal__categorypage--description h2 {
  font-weight: 500;
  color: white;
  font-size: 2.5rem;
  letter-spacing: 0;
  text-align: center;
    margin: 0 !important;
}

.journal__categorypage--description {
  display: block !important;
}

.journal__categorypage .journal__categorypage--description, .journal__sliderthumbs .journal__categorypage--description {
  display: flex !important;
}

.journal__thumbsdescription--category {
  display: block !important;
}

.journal__thumbsdescription--caption {
  display: none !important;
}

.journal__sliderthumbs .journal__thumbs {
  background-size: cover !important;
}

.journal__sliderthumbs .journal__thumbsdescription--category {
  display: block !important;
}

.journal__sliderthumbs .journal__categorypage--description .journal__thumbsdescription--caption {
  display: none !important;
}

.journal__sliderthumbs .journal__categorypage--description h6 {
  font-family: 'Source Code Pro', monospace;
  font-size: 1.5rem;
  letter-spacing: 0;
  margin: 0 !important;
}

.journal__sliderthumbs .journal__categorypage--description h2 {
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0;
  margin: 0 !important;
}

.journal__sliderthumbs .pagebuilder-column {
  width: 33.3333% !important;
}

.journal__thumbs {
  width: 100%;
  min-height: unset !important;
}

.journal__thumbs:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.journal__sliderthumbs .journal__thumbs:after {
  content: "";
  display: block;
  padding-bottom: 80%;
}

.journal__sliderthumbs {
  border-top: 1px solid black !important;
  border-bottom: 1px solid black !important;
}

.journal__menu {
  border-bottom: 1px solid black !important;
}

.journal__menu ul {
  display: flex;
  justify-content: center;
}

.journal__menu ul li {
  display: inline;
list-style-type: none;
padding-right: 50px;
}

.journal__menu ul li a{
  font-size: 2.5rem;
  text-transform: uppercase !important;
  text-decoration: none !important;
}

.journal__sliderthumbs .pagebuilder-column div{
  background-color: #F4F4F4;
}

@media only screen and (max-width: 768px) {
  .journal__sliderthumbs {
    white-space: nowrap !important;
    overflow: auto !important;
    flex-wrap: nowrap !important;
    cursor: grab;
  }

  .journal__sliderthumbs .pagebuilder-column-group {
    white-space: nowrap !important;
    overflow: auto !important;
    flex-wrap: nowrap !important;
    cursor: grab;
  }

  .journal__sliderthumbs .pagebuilder-column {
    width: 100% !important;
  }
}
