/* © CIRCULAR AGENCY */

/* MAIN CSS */

/* General */

.page-title-wrapper {
  display: none !important
}

.breadcrumbs {
  display: none !important;
}

@media only screen and (max-width:414px) {
  #maincontent [data-content-type="buttons"] [data-content-type=button-item] [data-element=link],
  #maincontent [data-content-type="buttons"] [data-content-type=button-item] [data-element=empty_link] {
    margin-bottom: 0 !important;
  }

  #maincontent [data-content-type="buttons"] [data-content-type=button-item]:last-child [data-element=link],
  #maincontent [data-content-type="buttons"] [data-content-type=button-item]:last-child [data-element=empty_link] {
    margin-right: 0 !important;
  }
}

@media only screen and (min-width:414px) {
#maincontent [data-content-type="buttons"] [data-content-type=button-item] [data-element=link],
#maincontent [data-content-type="buttons"] [data-content-type=button-item] [data-element=empty_link] {
  margin-right: 0 !important;
}
}

.desktop {
  display: none !important;
}

.mobile {
  display: block !important;
}

@media only screen and (min-width:414px) {
  .desktop {
    display: block !important;
  }

  .mobile {
    display: none !important;
  }
}

/* top-banner */

#maincontent .top-banner {
  width: 100%;
  height: 125vw;
  background-size: 100% !important;
  position: relative !important;
}

#maincontent .top-banner [data-content-type=buttons] {
  width: 100%;
height: 100%;
margin: 0!important;
padding: 0!important;
position: absolute;
top: 0;
left: 0;
opacity: 0;
z-index: 10000!important;
pointer-events: all;
cursor: pointer;
}

#maincontent .top-banner [data-content-type=buttons] [data-content-type=button-item],
#maincontent .top-banner [data-content-type=buttons] [data-content-type=button-item] a {
  width: 100%;
height: 100%;
margin: 0!important;
padding: 0!important;
}

@media only screen and (min-width:414px) {
  #maincontent .top-banner {
    width: 100%;
    height: 50vw;
  }
}

/* top-banner image */

#maincontent .top-banner.image {
}

#maincontent .top-banner iframe.mobile {
  width: 100%!important;
height: 125vw!important;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
pointer-events: all!important;
cursor: pointer!important;
}

@media only screen and (min-width:414px) {
  #maincontent .top-banner.image {
  }

  #maincontent .top-banner iframe.desktop {
    width: 100%!important;
  height: 50vw!important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: all!important;
  cursor: pointer!important;
  }
}

/* top-banner video */

#maincontent .top-banner.video {
}

@media only screen and (min-width:414px) {
  #maincontent .top-banner.video {
  }
}

/* shop-by-range */

#maincontent .shop-by-range {
  width: 100%;
  height: 62.5vw;
}

#maincontent .shop-by-range .pagebuilder-column-group {
  height: 100% !important;
}

#maincontent .shop-by-range .pagebuilder-column {
  justify-content: center;
}

#maincontent .shop-by-range .pagebuilder-column [data-content-type="buttons"] {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

#maincontent .shop-by-range .pagebuilder-column [data-content-type="button-item"] {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

@media only screen and (min-width:414px) {
  #maincontent .shop-by-range {
    width: 100%;
    height: 50vw;
  }
}

/* inner-banner */

#maincontent .inner-banner {
  width: 100%;
  height: 125vw;
  justify-content: flex-end !important;
}

#maincontent .inner-banner [data-content-type="buttons"] {
  display: flex !important;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  height: 20% !important;
}

@media only screen and (min-width:414px) {
  #maincontent .inner-banner {
    width: 100%;
    height: 50vw;
    justify-content: center !important;
  }

  #maincontent .inner-banner [data-content-type="buttons"] {
    width: 33% !important;
    flex-direction: column;
  }

  #maincontent .inner-banner [data-content-type="buttons"] [data-content-type=button-item] div {
    margin-right: 0 !important;
  }
}

/* text-container */

#maincontent .text-container {
  position: relative;
  text-align: center;
  padding: 20vw 10vw !important;
}

@media only screen and (min-width:414px) {
  #maincontent .text-container {
    padding: 7.5vw 0 !important;
    width: 50% !important;
    margin: 0 auto !important;
  }
}

/* slider-container text */

#maincontent .slider-container.text h4  {
  font-family: var(--ff-medium);
  font-weight: var(--fw-bold);
  font-size: var(--fs-heading-long-04);
  line-height: var(--lh-uppercase);
  letter-spacing: var(--ls);
  text-transform: var(--upper);
  margin: var(--m-heading);
  text-align: center !important;
}

#maincontent .slider-container.text p {
  font-family: var(--ff-regular);
  font-size: var(--fs-body-long-01);
  line-height: var(--lh-lowercase);
  letter-spacing: var(--ls);
  margin: var(--m-body);
  text-align: center !important;
}

#maincontent .slider-container.text p:last-child {
  margin: 0 !important;
}

#maincontent .slider-container.text {
  padding: 0 !important;
}

#maincontent .slider-container.text .pagebuilder-slide-wrapper {
  height: 200vw !important;
  min-height: unset !important;
  display: flex !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
}

#maincontent .slider-container.text .pagebuilder-overlay {
  padding: 0 !important;
}

#maincontent .slider-container.text .pagebuilder-poster-content {
  height: 80vw !important;
  min-height: unset !important;
  padding: 10vw !important;
  display: flex;
  flex-direction: column !important;
  align-items: flex-start !important;
}

#maincontent .slider-container.text .pagebuilder-slide-button {
  margin: 10px 0 0 !important;
  text-align: center !important;
  width: 100% !important;
  padding: 14px 0 !important;
}

@media only screen and (min-width:414px) {
  #maincontent .slider-container.text .pagebuilder-slide-wrapper {
    height: 50vw !important;
    min-height: unset !important;
    display: flex !important;
    align-items: flex-start !important;
  }

  #maincontent .slider-container.text .pagebuilder-overlay {
    padding: 0 !important;
    width: 50vw !important;
  }

  #maincontent .slider-container.text .pagebuilder-poster-content {
    width: calc(50vw - 10vw) !important;
    height: calc(50vw - 10vw) !important;
    min-height: unset !important;
    padding: 5vw 10vw 5vw 5vw !important;
    align-items: center !important;
  }

  #maincontent .slider-container.text .pagebuilder-slide-button {
    text-align: left !important;
  }

  #maincontent .slider-container.text h4  {
    text-align: left !important;
  }

  #maincontent .slider-container.text p {
    text-align: left !important;
  }
}

/* slider-container images */

/* slider arrows */

#maincontent .slider-container .slick-arrow {
  background-color: #000000 !important;
  width: 40px !important;
  height: 40px !important;
}

#maincontent .slider-container .slick-arrow:before {
  font-size: 24px !important;
  color: #ffffff !important;
}

#maincontent .slider-container .slick-next {
  right: 0 !important;
  top: calc(50% + 20px) !important;
  display: block !important;
}

#maincontent .slider-container .slick-prev {
  left: 0 !important;
  top: calc(50% + 20px) !important;
  display: block !important;
}

@media only screen and (hover: hover) and (min-width:414px) {
  #maincontent .slider-container .slick-arrow {
    background-color: #000000 !important;
    width: 40px !important;
    height: 40px !important;
  }

  #maincontent .slider-container .slick-arrow:before {
    font-size: 24px !important;
    color: #ffffff !important;
  }

  #maincontent .slider-container .slick-next {
    right: 0 !important;
    top: 50% !important;
    display: none !important;
  }

  #maincontent .slider-container .slick-prev {
    left: 0 !important;
    top: 50% !important;
    display: none !important;
  }

  #maincontent .slider-container:hover .slick-next,
  #maincontent .slider-container:hover .slick-prev {
    display: block !important;
  }
}

/* journal */

#maincontent .journal {
      padding: 0 !important;
    width: 80vw !important;
    margin: 0 auto !important;
}

#maincontent .journal .pagebuilder-column-group {
  display: grid !important;
      grid-template-columns: 100%;
      grid-gap: 12.5vw;
    display: flex;
}

#maincontent .journal .pagebuilder-column {
  width: 100% !important;
}

#maincontent .thumbs {
  background-position: top center !important;
position: unset;
width: 100%;
min-height: unset !important;
}

#maincontent .thumbs::before {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    backdrop-filter: none;
    pointer-events: none !important;
}

#maincontent .thumbs::after {
  content: "";
    display: block;
    padding-bottom: 80%;
}

#maincontent .thumbs:hover::after {
  backdrop-filter: brightness(0.7);
}

#maincontent .thumbs-link>* {
    width: 100% !important;
    height: 100% !important;
}

#maincontent .thumbs-link {
  width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    z-index: 100 !important;
    opacity: 0 !important;
}

#maincontent .thumbs-link a {
  width: 100% !important;
    height: 100% !important;
    font-weight: 400 !important;
    line-height: 1.8461 !important;
    font-size: 1.5rem !important;
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
    text-transform: uppercase;
    color: #fff !important;
}

#maincontent .journal .thumbs-description {
  padding: 0 !important;
  display: block !important;
}

#maincontent .journal .thumbs-description h5 {
  margin: 15px 0 !important;
}

#maincontent .journal .thumbs-description .category {
  display: none !important;
}

#maincontent .journal .thumbs-description .caption {
  display: block !important;
width: 75% !important;
}

#maincontent .journal .thumbs-description .caption p {
  font-family: var(--ff-regular);
  font-size: var(--fs-body-long-02);
  line-height: var(--lh-lowercase);
  letter-spacing: var(--ls);
}

#maincontent .journal.heading-link {
  width: 80vw !important;
  margin: 0 auto !important;
  max-width: 1440px !important;
  padding: 20vw 0 12.5vw !important;
}

@media only screen and (min-width:414px) {
  #maincontent .journal {
      padding: 0 2vw !important;
      width: 90vw !important;
      max-width: 1440px !important;
      margin: 0 auto !important;
  }

  #maincontent .journal .pagebuilder-column-group {
    display: grid !important;
      grid-template-columns: calc(33.3333% - 1.3333vw) calc(33.3333% - 1.3333vw) calc(33.3333% - 1.3333vw);
      grid-gap: 2vw;
      row-gap: 4vw;
      display: flex;
  }

  #maincontent .journal .pagebuilder-column {
    width: 100% !important;
  }

  #maincontent .thumbs {
    background-position: top center !important;
  position: unset;
  width: 100%;
  min-height: unset !important;
  }

  #maincontent .thumbs::before {
    position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      backdrop-filter: none;
      pointer-events: none !important;
  }

  #maincontent .thumbs::after {
    content: "";
      display: block;
      padding-bottom: 80%;
  }

  #maincontent .thumbs:hover::after {
    backdrop-filter: brightness(0.7);
  }

  #maincontent .thumbs-link {
    width: 100% !important;
      height: 100% !important;
      position: absolute !important;
      z-index: 100 !important;
      opacity: 0 !important;
  }

  #maincontent .thumbs-link a {
    width: 100% !important;
      height: 100% !important;
      font-weight: 400 !important;
      line-height: 1.8461 !important;
      font-size: 1.5rem !important;
      margin: 0 !important;
      padding: 0 !important;
      text-decoration: none !important;
      text-transform: uppercase;
      color: #fff !important;
  }

  #maincontent .journal .thumbs-description {
    padding: 0 !important;
    display: block !important;
  }

  #maincontent .journal .thumbs-description h5 {
    margin: 20px 0 !important;
  }

  #maincontent .journal .thumbs-description .category {
    display: none !important;
  }

  #maincontent .journal .thumbs-description .caption {
    display: block !important;
  width: 75% !important;
  }

  #maincontent .journal.heading-link {
    width: 90vw !important;
    margin: 0 auto !important;
    max-width: 1440px !important;
    padding: 7.5vw 2vw 2vw !important;
  }
}
